<ion-view view-title="About" ng-style="aboutBackground" ng-controller="AboutCtrl">
    <ion-nav-title>
        <span ng-style="headerContent">About</span>
    </ion-nav-title>
    <ion-content>

        <div class="row">
            <div class="col padding">
                <img ng-style="logoBackground" id="aboutLogo" class="aboutLogo" src="{{logoFile}}" alt="{{logoFile}}" />
                <div class="card">
                    <div class="item item-text-wrap">
                        <!--<img ng-style="logoBackground" id="aboutLogo" class="aboutLogo" src="{{logoFile}}" alt="{{logoFile}}" />-->
                        <p class="aboutParagraph">
                            {{aboutContent}}    
                        </p>

                        <hr />

                        <div class="aboutContent">
                            <a href="{{website}}" ng-click="openWebsite()">
                                <h3>{{aboutData.Name}}</h3>
                            </a>
                            <a href="{{phoneNumber}}" ng-click="openPhone()">
                                <p>{{aboutData.PhoneNumber}}</p>
                            </a>
                            <a href="{{email}}" ng-click="openEmail()">
                                <p>{{aboutData.EMail}}</p>
                            </a>
                            <a href="{{location}}" ng-click="openMaps()">
                                <p class="aboutContactInfo">
                                    {{aboutData.Address}} <br />
                                    {{aboutData.City}}, {{aboutData.State}}
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    </ion-content>
</ion-view>