<ion-view view-title="Members" ng-controller="MembersCtrl">
    <ion-nav-title>
        <span ng-style="headerContent">Members</span>
    </ion-nav-title>

    <!--Search Header Section-->
    <ion-header-bar id="searchBarHeader" ng-style="barHeader" class="bar-light bar-subheader item item-input-inset">

        <!--Search Input-->
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input id="memsearch"
                   type="text"
                   placeholder="Search for a local business..."
                   ng-model="memberFilter"
                   ng-change="onChange()">
        </label>

        <!--Clear Search Button-->
        <button ng-style="headerContent" ng-click="clearSearch()" class="button button-clear button-dark input-button button-small">
            Clear
        </button>
    </ion-header-bar>

    <ion-content id="listContent">

        <!--Creates Member Cards from Module Data-->
        <div ng-repeat="member in memberData | filter: filterMembers">

            <!--Creates the Card Div with a Boolean value. On click change the Boolean.-->
            <div class="card" ng-init="cardClicked = 'false'">
                <div>
                    <!--Card Header-->
                    <div ng-style="cardHeader" class="item item-divider" ng-click="cardClicked = { 'true': 'false', 'false' : 'true'}[cardClicked]">
                        <icon ng-show="cardClicked == 'false'" ng-style="cardArrow" class="ion-arrow-right-b"></icon>
                        <icon ng-show="cardClicked == 'true'" ng-style="cardArrow" class="ion-arrow-down-b"></icon>

                        {{member.DisplayName}}
                    </div>

                    <!--Card Content-->
                    <div class="item item-text-wrap">
                        <div ng-show="cardClicked == 'true'">
                            <img src="{{member.LogoUrl}}" />

                            <p><b>Description: </b>{{member.Description}}</p>
                            <p><b>Hours of Operation: </b>{{member.HoursOfOperation}}</p>
                            <p><b>Distance: </b>{{member.DistanceFromUser}}</p>

                            <a ng-style="cardButton" href="{{website}}" class="button button-full button-small {{websiteIcon}}" ng-click="openWebsite(member)">
                                Visit the Website
                            </a>
                            <a ng-style="cardButton" href="{{phoneNumber}}" class="button button-full button-small {{callIcon}}" ng-click="openPhone(member)">
                                Give a Call
                            </a>
                            <a ng-style="cardButton" href="{{email}}" class="button button-full button-small {{emailIcon}}" ng-click="openEmail(member)">
                                Send an Email
                            </a>
                            <a ng-style="cardButton" href="{{location}}" class="button button-full button-small {{mapsIcon}}" ng-click="openMaps(member)">
                                Open in Maps
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
