<ion-view view-title="News" ng-controller="NewsCtrl">
    <ion-nav-title>
        <span ng-style="headerContent">News</span>
    </ion-nav-title>
    <ion-content>
        <!--Creates News Cards from Module Data-->
        <div ng-repeat="news in newsData.slice().reverse()">
            <!--Creates the Card Div with a Boolean value. On click change the Boolean.-->
            <div class="card" ng-init="cardClicked = 'false'">
                <!--Card Header-->
                <div ng-style="cardHeader" class="item item-divider" ng-click="cardClicked = { 'true': 'false', 'false' : 'true'}[cardClicked]">
                    <icon ng-show="cardClicked == 'false'" ng-style="cardArrow" class="ion-arrow-right-b"></icon>
                    <icon ng-show="cardClicked == 'true'" ng-style="cardArrow" class="ion-arrow-down-b"></icon>

                    {{news.Title | unsafe}}
                </div>
                <!--Card Content-->
                <div class="item item-text-wrap">
                    <div ng-click="cardClicked = { 'true': 'false', 'false' : 'true'}[cardClicked]">
                        <p><b>{{news.DisplayReleaseDate | date}}</b></p>
                    </div>

                    <!--Only show the below extra information if the card boolean is true. (clicked)-->
                    <div ng-show="cardClicked == 'true'">
                        <p ng-show="cardClicked == 'false'" ng-bind-html="news.BodyText | limitTo: 125 | unsafe"></p>
                        <p ng-show="cardClicked == 'true'" ng-bind-html="news.BodyText | unsafe"></p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
