<ion-view view-title="Search" ng-controller="SearchCtrl">
    <ion-nav-title>
        <span ng-style="headerContent">Directory</span>
    </ion-nav-title>

    <!--Search Header Section-->
    <ion-header-bar id="searchBarHeader" ng-style="barHeader" class="bar-light bar-subheader item item-input-inset">
        <!--Search Input-->
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input id="catsearch"
                   type="text"
                   placeholder="Search for a member..."
                   ng-model="memberFilter"
                   ng-change="onChange()">
        </label>

        <!--Clear Search Button-->
        <button ng-style="headerContent" ng-click="clearSearch()" class="button button-clear button-dark input-button button-small">
            Clear
        </button>
    </ion-header-bar>

    <ion-content id="listContent">
        <!--Quicklinks Display-->
        <ion-list ng-show="directorySwitch == 'quicklink'">
            <ion-item href="#/app/members" ng-repeat="link in directoryData" ng-click="setCategory(link.Id)">
                {{link.Name}}
            </ion-item>

            <br />
        </ion-list>

        <div ng-if="directorySwitch == 'member' && memberFilter.length >= 3">
            <div ng-repeat="member in members | filter: filterMembers">
                <!--Creates the Card Div with a Boolean value. On click change the Boolean.-->
                <div class="card" ng-init="cardClicked = 'false'" ng-click="getDistance(member)">
                    <div>
                        <!--Card Header-->
                        <div ng-style="cardHeader" class="item item-divider" ng-click="cardClicked = { 'true': 'false', 'false' : 'true'}[cardClicked]">
                            <icon ng-show="cardClicked == 'false'" ng-style="cardArrow" class="ion-arrow-right-b"></icon>
                            <icon ng-show="cardClicked == 'true'" ng-style="cardArrow" class="ion-arrow-down-b"></icon>

                            {{member.DisplayName}}
                        </div>

                        <!--Card Content-->
                        <div class="item item-text-wrap">
                            <div ng-show="cardClicked == 'true'">
                                <img src="{{member.LogoUrl}}" />

                                <p><b>Description: </b>{{member.Description}}</p>
                                <p><b>Hours of Operation: </b>{{member.HoursOfOperation}}</p>
                                <p><b>Distance: </b>{{member.distanceFromUser}}</p>

                                <a ng-style="cardButton" href="{{website}}" class="button button-full button-small {{websiteIcon}}" ng-click="openWebsite(member)">
                                    Visit the Website
                                </a>
                                <a ng-style="cardButton" href="{{phoneNumber}}" class="button button-full button-small {{callIcon}}" ng-click="openPhone(member)">
                                    Give a Call
                                </a>
                                <a ng-style="cardButton" href="{{email}}" class="button button-full button-small {{emailIcon}}" ng-click="openEmail(member)">
                                    Send an Email
                                </a>
                                <a ng-style="cardButton" href="{{location}}" class="button button-full button-small {{mapsIcon}}" ng-click="openMaps(member)">
                                    Open in Maps
                                </a>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
        </div>
    </ion-content>
</ion-view>
