<ion-view view-title="Jobs" ng-controller="JobsCtrl">
    <ion-nav-title>
        <span ng-style="headerContent">Jobs</span>
    </ion-nav-title>

    <!--Job Header Section-->
    <ion-header-bar id="searchBarHeader" ng-style="barHeader" class="bar-light bar-subheader item item-input-inset">

        <!--Job Input-->
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text"
                   placeholder="Search for a job..."
                   ng-model="jobFilter.DisplayName"
                   ng-change="onChange()">
        </label>

        <!--Job Search Button-->
        <button ng-style="headerContent" ng-click="jobFilter = '';" class="button button-clear button-dark input-button button-small">
            Clear
        </button>
    </ion-header-bar>

    <ion-content>
        <!--Creates Jobs Cards from Module Data-->
        <div ng-repeat="job in jobData | filter: jobFilter">

            <!--Creates the Card Div with a Boolean value. On click change the Boolean.-->
            <div class="card" ng-init="cardClicked = 'false'">

                <!--Card Header-->
                <div ng-style="cardHeader" class="item item-divider" ng-click="cardClicked = { 'true': 'false', 'false' : 'true'}[cardClicked]">
                    <icon ng-show="cardClicked == 'false'" ng-style="cardArrow" class="ion-arrow-right-b"></icon>
                    <icon ng-show="cardClicked == 'true'" ng-style="cardArrow" class="ion-arrow-down-b"></icon>

                    {{job.Title | unsafe}}
                </div>

                <!--Card Content-->
                <div class="item item-text-wrap">
                    <div ng-click="cardClicked = { 'true': 'false', 'false' : 'true'}[cardClicked]">
                            <p ng-show="cardClicked == 'false'" ng-bind-html="job.Description | limitTo: 125 | unsafe"></p>
                            <p ng-show="cardClicked == 'true'" ng-bind-html="job.Description | unsafe"></p>
                        </div>

                    <div ng-show="cardClicked == 'true'">
                        <p><b>Business: </b>{{job.BusinessName}}</p>
                        <p><b>Start Date:</b> {{job.StartDate | date}}</p>

                        <a ng-style="cardButton" href="{{phoneNumber}}" class="button button-full button-small {{callIcon}}" ng-click="openPhone(job)">
                             Give a Call
                        </a>
                        <a ng-style="cardButton" href="{{email}}" class="button button-full button-small {{emailIcon}}" ng-click="openEmail(job)">
                             Send an Email
                        </a>
                        <a ng-style="cardButton" href="{{website}}" class="button button-full button-small {{websiteIcon}}" ng-click="openWebsite(job)">
                            Visit the Website
                        </a>
                        <a ng-style="cardButton" href="{{location}} "class="button button-full button-small {{mapsIcon}}" ng-click="openMaps(job)">
                            Open in Maps
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
